<aside class="site-navigation">

  <div class="site-brand">
    <h1>{{ site.title }}</h1>
  </div>
  <!-- <form id="search" aria-hidden="true" novalidate="" class="searchbox">
    <div role="search" class="searchbox__wrapper">
      <label for="docsearch" class="slds-assistive-text">Search: type text, then use the up and down arrows to navigate results</label>
      <input id="docsearch" type="search" name="search" placeholder="Search" autocomplete="off" required="" class="searchbox__input slds-input aa-input" spellcheck="false" dir="auto">
      <button type="submit" class="slds-assistive-text">Submit your search query</button>
      <button type="reset" title="Clear the search query" class="searchbox__reset hide"></button>
    </div>
  </form> -->

  <nav id="main-navigation" role="navigation" tabindex="-1" class="navigation">
    <ul class="site-list--vertical">
      <li class="site-list__item">
        <a href="#">Navigation to be done</a>
      </li>
    </ul>
  </nav>

</aside>
