

////////////////
// COLORS //
///////////////

$white:                                 #fff;
$gray:                                  #a6a6a6;
$dark-gray:                             #363636;

// -----------------

$body-color:                            $white;
$text-color:                            $dark-gray;
$link-color:                            $dark-gray;
$navigation-link-color:                 $gray;
$navication-focus-outline-color:        $dark-gray;



//////////////
// TYPOGRAPHY //
//////////////

/// Regular font family
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Secondary font family
$secondary-font-family: "Amatic SC", Helvetica, Arial, sans-serif !default;


$body-size:                             1rem;
$navigation-size:                       0.75rem;
$navigation-mobile-size:                1.5rem;

$headline-1-size:                       5rem;
$headline-1-line-height:                5rem;

$headline-2-size:                       3.125rem;
$headline-2-line-height:                3.125rem;

$headline-3-size:                       1.313rem;
$headline-3-line-height:                1.313rem;

$headline-4-size:                       1rem;
$headline-4-line-height:                1rem;

$headline-5-size:                       0.85rem;
$headline-5-line-height:                0.85rem;

$headline-6-size:                       0.62rem;
$headline-6-line-height:                0.62rem;



///////////////
// SPACING //
///////////////

$extra-small-spacing:                   0.25rem;
$small-spacing:                         0.5rem;
$normal-spacing:                        1.5rem;
$medium-spacing:                        3rem;
$large-spacing:                         5rem;
$extra-large-spacing:                   10rem;


///////////////
// NAVBAR //
///////////////
